--extra-index-url https://download.pytorch.org/whl/cpu

sse-starlette
fastapi
uvicorn
python-multipart
python-dotenv
langchain
chromadb
pypdf
huggingface-hub
transformers
sentence-transformers
streamlit
requests
torch==2.2.2+cpu
